<?xml version="1.0" ?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${time}: ${message} ${exception:format=tostring}" />
    <target name="file" xsi:type="File"
				  layout="${time}: ${message}. ${exception:format=tostring}"
				  fileName="${basedir}/logs/logfile.txt"
				  archiveFileName="${basedir}/logs/log.{#####}.txt"
				  archiveAboveSize="5000000"
				  archiveNumbering="Rolling"
				  maxArchiveFiles="3"
				  concurrentWrites="false"
				  encoding="iso-8859-2" />
    <target name="eventlog" xsi:type="EventLog"
				  layout="${message} ${exception:format=tostring}"
				  source="u5ki-log"
				  log="Application" />
    <target name="method" xsi:type="MethodCall"
				  className="StateModule.State, StateModule"
				  methodName="LogMethod">
      <parameter layout="${level}" />
      <parameter layout="${longdate}: ${message} ${exception:format=tostring}" />
    </target>
    <target name="localhost" xsi:type="Network"
				  address="udp://localhost:8810"
				  layout="NLOG=${level}; ${longdate}: ${machinename}: ${message} ${exception:format=tostring}"
				  encoding="utf-8" />
    <target name="client" xsi:type="Network"
				  address="udp://192.168.1.255:8810"
				  layout="NLOG=${level}; ${longdate}: ${machinename}: ${message} ${exception:format=tostring}"
				  encoding="utf-8" />
    <target name="csvfile" xsi:type="File"
            fileName="${basedir}/logs/logfile.csv"
			archiveFileName="${basedir}/logs/log.{#####}.csv"
			archiveAboveSize="2000000"
			archiveNumbering="Rolling"
			maxArchiveFiles="3"
			concurrentWrites="false"
			encoding="iso-8859-2" >
      <layout xsi:type="CsvLayout">
        <column name="time" layout="${longdate}" />
        <column name="logger" layout="${logger}"/>
        <column name="level" layout="${level}"/>
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
    <target xsi:type="Debugger" name="debugger" layout="${time}: ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
    <!--<logger name="TifxService" levels="Info,Debug" writeTo="debugger" />-->
    <logger name="*" minlevel="Debug" writeTo="csvfile" />
    <!--<logger name="*" levels ="Info,Error,Warn" writeTo="eventlog" />-->
     <logger name="MSTxPersistence" minlevel="Trace" writeTo="file,debugger" /> 
  </rules>
</nlog>
