<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="HMI.Model.Module.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="HMI.Model.Module.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<HMI.Model.Module.Properties.Settings>
   <setting name="MessageToutSg" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="LcRxNotifSg" serializeAs="String">
    <value>7</value>
   </setting>
   <setting name="NoJacksEndComunicationsSg" serializeAs="String">
    <value>180</value>
   </setting>
   <setting name="NoJacksScreenSaverSg" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="MaxRtxGroups" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="TlfMemNotifSg" serializeAs="String">
    <value>120</value>
   </setting>
   <setting name="BrightnessVersion" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="BrightnessComPort" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="BrightnessMax" serializeAs="String">
    <value>90</value>
   </setting>
   <setting name="BrightnessMin" serializeAs="String">
    <value>40</value>
   </setting>
   <setting name="NumRdDestinations" serializeAs="String">
    <value>168</value>
   </setting>
   <setting name="NumLcDestinations" serializeAs="String">
    <value>9</value>
   </setting>
   <setting name="NumTlfDestinations" serializeAs="String">
    <value>170</value>
   </setting>
   <setting name="SupportInTlfCancel" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ATSNetFirstDigit" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="LcMemNotifSg" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="IaMemTimerSg" serializeAs="String">
    <value>900</value>
   </setting>
   <setting name="NumMaxInConference" serializeAs="String">
    <value>6</value>
   </setting>
   <setting name="Logo" serializeAs="String">
    <value>Resources/Asecna.gif</value>
   </setting>
   <setting name="WidthLogo" serializeAs="String">
    <value>147</value>
   </setting>
   <setting name="HeightLogo" serializeAs="String">
    <value>47</value>
   </setting>
   <setting name="OnlySpeakerMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SpeakerTlfEnable" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DoubleRadioSpeaker" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RadioAlias" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="RdStatusRetriveEnableAndStoreDelay" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="RdRtxStatusRetrieveEnable" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="RdTxConfirmationTime" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="RdSquelchConfirmationTime" serializeAs="String">
    <value>0</value>
   </setting>
  </HMI.Model.Module.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<HMI.Model.Module.Properties.Settings>
   <setting name="BrightnessLevel" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="BuzzerLevel" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="RdSpeakerLevel" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="TlfSpeakerLevel" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="RdHeadPhonesLevel" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="TlfHeadPhonesLevel" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="BuzzerEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SplitMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="RdHfSpeakerLevel" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="TlfSpeaker" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LcSpeakerLevel" serializeAs="String">
    <value>5</value>
   </setting>
  </HMI.Model.Module.Properties.Settings>
	</userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
