<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="U5ki.PabxItfService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <U5ki.PabxItfService.Properties.Settings>
            <setting name="PabxIp" serializeAs="String">
                <value>192.168.1.4</value>
            </setting>
            <setting name="PabxWsPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="PabxSaPwd" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="TifxMcastIp" serializeAs="String">
                <value>224.100.10.1</value>
            </setting>
            <setting name="TifxMcastPort" serializeAs="String">
                <value>1001</value>
            </setting>
            <setting name="PabxPollTime" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="TifMcastItf" serializeAs="String">
                <value>192.168.1.129</value>
            </setting>
            <setting name="PabxSimulada" serializeAs="String">
                <value>True</value>
            </setting>
        </U5ki.PabxItfService.Properties.Settings>
    </applicationSettings>
</configuration>