<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <targets>
      <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} ${message} ${exception:format=tostring}" />
      <target name="file" xsi:type="File"
          layout="${longdate} ${message} ${exception:format=tostring}" 
          fileName="${basedir}/logs/logfile.txt" 
			archiveFileName="${basedir}/logs/log.{#####}.txt"
			archiveAboveSize="2000000"
			archiveNumbering="Rolling"
			maxArchiveFiles="4"
			concurrentWrites="false"
          encoding="iso-8859-2" />
   </targets>

   <rules>
      <logger name="*" minlevel="Info" writeTo="console" />
      <logger name="*" minlevel="Debug" writeTo="file" />
   </rules>
</nlog>
