<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="U5ki.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <U5ki.Infrastructure.Properties.Settings>
            <setting name="KAPeriod" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="KAMultiplier" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TsxTout" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="InvProceedingIaTout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="InvProceedingDiaTout" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="InvProceedingRdTout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DefaultCodec" serializeAs="String">
                <value>PCMA</value>
            </setting>
            <setting name="DefaultDelayBufPframes" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DefaultJBufPframes" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="RxLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TxLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SndSamplingRate" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="InvProceedingMonitoringTout" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="EchoTail" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EchoLatency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=192.168.1.111;Database=cd40;Uid=root;Pwd=cd40;</value>
            </setting>
            <setting name="SipLogLevel" serializeAs="String">
                <value>3</value>
            </setting>
            <!--<setting name="RecordingEd137" serializeAs="String">
                <value>0</value>
            </setting>-->
            <setting name="LogLevel" serializeAs="String">
                <value>Info</value>
            </setting>
            <setting name="LogLevelLocal" serializeAs="String">
                <value>Debug</value>
            </setting>
            <setting name="Voter" serializeAs="String">
                <value>coresip-voter</value>
            </setting>
            <setting name="RecorderServicePath" serializeAs="String">
                <value>Ed137b4Service</value>
            </setting>
            <setting name="SQSourceConfirmTime" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="CompressCfg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DIA_TxAttenuation_dB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IA_TxAttenuation_dB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RD_TxAttenuation_dB" serializeAs="String">
                <value>0</value>
            </setting>
        </U5ki.Infrastructure.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
