<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="HMI.Presentation.Twr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="HMI.Presentation.Twr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <applicationSettings>
  <HMI.Presentation.Twr.Properties.Settings>
   <setting name="EnablePriority" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EnableListen" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EnableHold" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EnableTransfer" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ThemeButtonCornerRadius" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="ThemeUseModernStyle" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ThemeBorderColor" serializeAs="String">
    <value>Black</value>
   </setting>
   <setting name="ThemeInnerBorderColorDisabled" serializeAs="String">
    <value>WhiteSmoke</value>
   </setting>
   <setting name="ThemeInnerBorderColorNormal" serializeAs="String">
    <value>LightGray</value>
   </setting>
   <setting name="ThemeInnerBorderColorMouseOver" serializeAs="String">
    <value>LightGray</value>
   </setting>
   <setting name="ThemeInnerBorderColorPushed" serializeAs="String">
    <value>Gray</value>
   </setting>
   <setting name="ThemeButtonColor" serializeAs="String">
    <value>Silver</value>
   </setting>
   <setting name="ThemeScvA" serializeAs="String">
    <value>AliceBlue</value>
   </setting>
   <setting name="ThemeScvB" serializeAs="String">
    <value>LavenderBlush</value>
   </setting>
   <setting name="ThemeButtonColorDisabled" serializeAs="String">
    <value>240, 240, 240</value>
   </setting>
   <setting name="ThemeBorderColorDisabled" serializeAs="String">
    <value>Gainsboro</value>
   </setting>
   <setting name="ThemeUnknownScv" serializeAs="String">
    <value>240, 240, 240</value>
   </setting>
   <setting name="RdRows" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="RdColumns" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="LcRows" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="LcColumns" serializeAs="String">
    <value>9</value>
   </setting>
   <setting name="TlfRows" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="TlfColumns" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="ShowBssProperties" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnablePickUp" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EmergencyModeWarn" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EnableForward" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EnableMore" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="JackUse" serializeAs="String">
    <value>Both</value>
   </setting>
   <setting name="BigFonts" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ConfCambioPagRad" serializeAs="String">
	  <value>True</value>
   </setting>
   <setting name="DirectorioGLPRxRadio" serializeAs="String">
	    <value>DirectorioGLPRadio</value>
	</setting>

  </HMI.Presentation.Twr.Properties.Settings>
 </applicationSettings>
 <userSettings>
  <HMI.Presentation.Twr.Properties.Settings>
   <setting name="Historic" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
    </value>
   </setting>
   <setting name="Sector" serializeAs="String">
    <value>111</value>
   </setting>
   <setting name="AssignatedStates" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>FREC_1,False,False,NoAudio,True</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="PageTlfFuntions" serializeAs="String">
    <value>0</value>
   </setting>
  </HMI.Presentation.Twr.Properties.Settings>
 </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
