<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HMI.OPE.Module.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HMI.OPE.Module.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <HMI.OPE.Module.Properties.Settings>
      <setting name="CommPort" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CommCfg" serializeAs="String">
        <value>19200,n,8,1</value>
      </setting>
      <setting name="UseStxEtx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Alias" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Name=Alias</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="NumPosByRdPage" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="CommTout" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="ListenPort" serializeAs="String">
        <value>7781</value>
      </setting>
      <setting name="ManttoServerIp" serializeAs="String">
        <value>192.168.1.111</value>
      </setting>
      <setting name="ManttoServerPort" serializeAs="String">
        <value>15120</value>
      </setting>
    </HMI.OPE.Module.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <HMI.OPE.Module.Properties.Settings>
      <setting name="LongNames" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ShortName=LongName</string>
          </ArrayOfString>
        </value>
      </setting>
    </HMI.OPE.Module.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
