<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="U5ki.NodeBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="U5ki.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="U5ki.CfgService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="U5ki.RdService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="U5ki.TifxService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="U5ki.PresenceService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="u5ki.RemoteControlService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Translate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="u5ki.PhoneService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <u5ki.PhoneService.Properties.Settings>
      <setting name="IpPrincipal" serializeAs="String">
        <value>192.168.2.202</value>
      </setting>
      <setting name="ExpireInProxy" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="CancelMDCallTime" serializeAs="String">
        <value>0</value>
      </setting>
    </u5ki.PhoneService.Properties.Settings>
    <Translate.Properties.Settings>
      <setting name="language" serializeAs="String">
        <value>es</value>
      </setting>
    </Translate.Properties.Settings>
    <U5ki.NodeBox.Properties.Settings>
      <setting name="ControlRemoto" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PuertoControlRemoto" serializeAs="String">
        <value>1023</value>
      </setting>
      <setting name="PuertoPresencia" serializeAs="String">
        <value>1022</value>
      </setting>
      <setting name="MinutosSesion" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="IdSistema" serializeAs="String">
        <value>departamento</value>
      </setting>
      <setting name="HistBaseOid" serializeAs="String">
        <value>.1.1.100.1</value>
      </setting>
      <setting name="HistCommunity" serializeAs="String">
        <value>public</value>
      </setting>
      <setting name="FiltroSettings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>HistBaseOid</string>
            <string>HistCommunity</string>
            <string>IdSistema</string>
            <string>DefaultCodec</string>
            <string>DefaultDelayBufPframes</string>
            <string>DefaultJBufPframes</string>
            <string>InvProceedingDiaTout</string>
            <string>InvProceedingIaTout</string>
            <string>InvProceedingMonitoringTout</string>
            <string>InvProceedingRdTout</string>
            <string>KAMultiplier</string>
            <string>KAPeriod</string>
            <string>RxLevel</string>
            <string>SndSamplingRate</string>
            <string>FiltroSettings</string>
            <string>TsxTout</string>
            <string>TxLevel</string>
            <string>ConectionRetryTimer</string>
            <string>HFBalanceoAsignacion</string>
            <string>HFMonitorTimer</string>
            <string>HFSnmpReadCommunity</string>
            <string>HFSnmpSimula</string>
            <string>HFSnmpWriteCommunity</string>
            <string>ListenIp</string>
            <string>ListenPort</string>
            <string>McastIp</string>
            <string>McastPortBegin</string>
            <string>MonitorCarrierTimeOut</string>
            <string>SipPort</string>
            <string>SipUser</string>
            <string>tifxMcastIp</string>
            <string>tifxMcastPort</string>
            <string>tifxPresenceTout</string>
            <string>PabxSimulada</string>
            <string>TifxMcastIp</string>
            <string>TifxMcastPort</string>
            <string>PabxPollTime</string>
            <string>PabxSaPwd</string>
            <string>PabxWsPort</string>
            <string>ConfigByte</string>
            <string>Cd40_CfgService_SoapCfg_InterfazSOAPConfiguracion</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="NetworkOnDelay" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MNSimulating" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgmpQueryPeriodSeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HistServer" serializeAs="String">
        <value>192.168.2.3</value>
      </setting>
      <setting name="IpPrincipal" serializeAs="String">
        <value>192.168.2.202</value>
      </setting>
      <setting name="ListenPort" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="SipPort" serializeAs="String">
        <value>6060</value>
      </setting>
      <setting name="SipUser" serializeAs="String">
        <value>UV5KI</value>
      </setting>
      <setting name="ListenIp" serializeAs="String">
        <value>224.10.10.51</value>
      </setting>
      <setting name="SipPortPhone" serializeAs="String">
        <value>7060</value>
      </setting>
    </U5ki.NodeBox.Properties.Settings>
    <U5ki.Infrastructure.Properties.Settings>
      <setting name="KAPeriod" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="KAMultiplier" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TsxTout" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="InvProceedingIaTout" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="InvProceedingDiaTout" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="InvProceedingRdTout" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="InvProceedingMonitoringTout" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="SipLogLevel" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DefaultCodec" serializeAs="String">
        <value>PCMA</value>
      </setting>
      <setting name="DefaultDelayBufPframes" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DefaultJBufPframes" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="RxLevel" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TxLevel" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SndSamplingRate" serializeAs="String">
        <value>8000</value>
      </setting>
      <setting name="EchoTail" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="EchoLatency" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RecordingEd137" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SQSourceConfirmTime" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="CompressCfg" serializeAs="String">
        <value>True</value>
      </setting>
    </U5ki.Infrastructure.Properties.Settings>
    <U5ki.CfgService.Properties.Settings>
      <setting name="Cd40_CfgService_SoapCfg_InterfazSOAPConfiguracion" serializeAs="String">
        <!--<value>http://192.168.0.211:64567/InterfazSOAPConfiguracion/InterfazSOAPConfiguracion.asmx</value>-->
        <value>http://192.168.2.3/nucleodf/u5kcfg/InterfazSOAPConfiguracion/InterfazSOAPConfiguracion.asmx</value>
      </setting>
      <setting name="CfgSystemId" serializeAs="String">
        <value>departamento</value>
      </setting>
      <setting name="MCastItf4Config" serializeAs="String">
        <value>192.168.2.202</value>
      </setting>
      <setting name="ConfigByte" serializeAs="String">
        <value>1</value>
      </setting>
    </U5ki.CfgService.Properties.Settings>
    <U5ki.RdService.Properties.Settings>
      <setting name="SipIp" serializeAs="String">
        <value>192.168.2.202</value>
      </setting>
      <setting name="SipPort" serializeAs="String">
        <value>6060</value>
      </setting>
      <setting name="SipUser" serializeAs="String">
        <value>UV5KI</value>
      </setting>
      <setting name="McastIp" serializeAs="String">
        <value>224.10.10.51</value>
      </setting>
      <setting name="McastPortBegin" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="MonitorCarrierTimeOut" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="ConectionRetryTimer" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="HFMonitorTimer" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="HFSnmpSimula" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HFSnmpReadCommunity" serializeAs="String">
        <value>public</value>
      </setting>
      <setting name="HFSnmpWriteCommunity" serializeAs="String">
        <value>public</value>
      </setting>
      <setting name="HFSnmpTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="HFJBusTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="HFBalanceoAsignacion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FrequencyDisabled" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="TimeoutIgnoreValidationCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TimeoutHitAmount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="KOAmount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RtxDelay" serializeAs="String">
        <value>200</value>
      </setting>
      <!-- HFSipSupervisionMode. O: Sin Supervision, 1: Por Sesion SIP, 2: Por Sip OPTIONS -->
      <setting name="HFSipSupervisionMode" serializeAs="String">
        <value>2</value>
      </setting>
    </U5ki.RdService.Properties.Settings>
    <U5ki.TifxService.Properties.Settings>
      <setting name="tifxMcastPort" serializeAs="String">
        <value>1001</value>
      </setting>
      <setting name="tifxMcastIp" serializeAs="String">
        <value>224.100.10.1</value>
      </setting>
      <setting name="tifxPresenceTout" serializeAs="String">
        <value>11000</value>
      </setting>
      <setting name="tifxMcastSrc" serializeAs="String">
        <value>192.168.2.202</value>
      </setting>
    </U5ki.TifxService.Properties.Settings>
    <U5ki.PresenceService.Properties.Settings>
      <setting name="MulticastGroupIp" serializeAs="String">
        <value>224.100.10.1</value>
      </setting>
      <setting name="MulticastGroupPort" serializeAs="String">
        <value>1001</value>
      </setting>
      <setting name="MulticastGroupInterfazIp" serializeAs="String">
        <value>192.168.2.202</value>
      </setting>
      <setting name="TimeoutOnConnected" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TimeoutOnDisconnected" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="TimeoutOnInactiveResource" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="TimeoutOnPresenceSubscription" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MulticastSenderTick" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="BkkUser" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="BkkPwd" serializeAs="String">
        <value>sa</value>
      </setting>
    </U5ki.PresenceService.Properties.Settings>
    <u5ki.RemoteControlService.Properties.Settings>
      <setting name="ControlSessionSIP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SipUser" serializeAs="String">
        <value>UV5KI</value>
      </setting>
      <setting name="SipIp" serializeAs="String">
        <value>192.168.2.202</value>
      </setting>
      <setting name="DelaySetFrequencyMs" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ControlAlarmasPermanentes" serializeAs="String">
        <value>True</value>
      </setting>      
      <setting name="SNMPSetCallTimeout" serializeAs="String">
        <value>500</value>
      </setting>
    </u5ki.RemoteControlService.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
