<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="u5ki.PhoneService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <u5ki.PhoneService.Properties.Settings>
            <setting name="IpPrincipal" serializeAs="String">
                <value>192.168.2.202</value>
            </setting>
            <setting name="ExpireInProxy" serializeAs="String">
                <value>60</value>
            </setting>
          <setting name="CancelMDCallTime" serializeAs="String">
            <value>0</value>
          </setting>
        </u5ki.PhoneService.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
