<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="U5ki.PresenceService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <U5ki.PresenceService.Properties.Settings>
            <setting name="MulticastGroupIp" serializeAs="String">
                <value>224.100.10.1</value>
            </setting>
            <setting name="MulticastGroupPort" serializeAs="String">
                <value>1001</value>
            </setting>
            <setting name="TimeoutOnConnected" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TimeoutOnDisconnected" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TimeoutOnInactiveResource" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TimeoutOnPresenceSubscription" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MulticastSenderTick" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="BkkUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="BkkPwd" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="MulticastGroupInterfazIp" serializeAs="String">
                <value>10.12.60.232</value>
            </setting>
            <setting name="MonitorAllUsersOfDependencies" serializeAs="String">
                <value>False</value>
            </setting>
        </U5ki.PresenceService.Properties.Settings>
    </applicationSettings>
</configuration>