<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target name="console" xsi:type="ColoredConsole" layout="${time}: ${message} ${exception:format=tostring}" />
    <target name="file" xsi:type="File"
			layout="${longdate}: ${message} ${exception:format=tostring}"
			fileName="${basedir}/appweb/logs/logfile.txt"
			archiveFileName="${basedir}/appweb/logs/log.{#####}.txt"
			archiveAboveSize="2000000"
			archiveNumbering="Rolling"
			maxArchiveFiles="3"
			concurrentWrites="false"
			encoding="iso-8859-2" />
    <target name="eventlog" xsi:type="EventLog"
				  layout="${message} ${exception:format=tostring}"
				  source="u5kman"
				  log="Application" />
    <target name="network" xsi:type="Network"
			address="udp://192.168.0.71:878"
			newLine="false" maxMessageSize="65000" encoding="utf-8"
			layout="${log4jxmlevent:includeCallSite=true:includeNLogData=true}${exception:format=tostring}" />
    <target name="csvfile" xsi:type="File"
            fileName="${basedir}/logs/logfile.csv"
			archiveFileName="${basedir}/logs/log.{#####}.csv"
			archiveAboveSize="2000000"
			archiveNumbering="Rolling"
			maxArchiveFiles="3"
			concurrentWrites="false"
			encoding="iso-8859-2" >
      <layout xsi:type="CsvLayout">
        <column name="time" layout="${longdate}" />
        <column name="logger" layout="${logger}"/>
        <column name="level" layout="${level}"/>
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Debug" writeTo="csvfile" />
    <!--<logger name="*" minlevel="Trace" writeTo="file" />-->
    <!--<logger name="*" minlevel="Info" writeTo="console" />-->
    <logger name="*" minlevel="Warn" writeTo="eventlog" />
    <logger name="*" minlevel="Debug" writeTo="network" />
  </rules>
</nlog>